.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  background-color: #ddd;
  padding: 20px;
  flex: 1 20%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
